* {
    box-sizing: border-box;
}  

a {
    color: black;
    text-decoration: none;
}

.footer {
    display: flex;
    margin-top: 140px;
    background-color:black;
    height: 108px;
    align-items: center;
    justify-content: center;
}

.header {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}

.main_logo {
    margin-left: 120px;
    width:165px;
    height: 26px;
    flex-grow: 0;
    align-self: center;
}

.main_block {
    margin-top: 310px;
    margin-left: 178px;
    margin-bottom: 200px;
    align-items: center;
}
.header__menu{
    flex-shrink: 0;
    font-weight: bold;
    margin-right: 120px;
}

.menu__item {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    margin-right: 87px;
    list-style-type: none;
}

.button {
    font-family: "Montserrat";
    font: 600 16px/16.46px Montserrat;
    color: white;
    background-color: black;
    width: 247px;
    height: 55px;
}

.container_button {
    margin-top: 46px;
    width: 332px;
}
.container__title{
    font: 600 100px/122px Montserrat;
}

.container__title_color-pink{
    color:#EE58B6;
}

.container__text {
    font: 400 26px/31.2px Roboto Condensed;
}

.block {
    display: flex;
}

.block_black {
    background-color: black;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}

.block_black__container {
    width: 310px;
    text-align: center;
}

.block_black__container_text {
font: 400 22px/26.4px Roboto Condensed;
}

.block_deadline {
    display: flex;
    justify-content: center;
}

.container__deadline {
    
    width: 1135px;
    margin-left: 140px;
}

.container__title_deadline {
    margin-top: 180px;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 0;
}

.container__text_deadline {
    font-size: 18px;
}

.block_img_left {
    float: left;
}

.block_img_right {
    float: right;
}

.container_black {
    flex-basis: 358px;
    background-color: black;
    width: 358px;
    
    border-radius: 8px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.block_flex_container__text {
    color: white;
    
    margin-left: 39px;
    margin-right: 48.5px;
}

.block_flex {
    flex-wrap: wrap;
    justify-content: center;
}

.block_flex__img {
    margin-left: 39px;
    margin-top: 32px;
}

.block_img {
    display: inline-flex;
    
}

.title {
    text-align: center;
    margin-bottom: 60px;
    font: 500 48px/58.51px Montserrat;
}

.title_color-pink {
    color:#EE58B6;
}